@import "tailwindcss/components";

@layer components {
    .nav_section {
        @apply md:bg-[#00000048];
        @apply w-full fixed top-0 z-[99999] container px-12 max-w-7xl
        md:right-1/2 md:translate-x-[50%]
        xl:rounded-bl-[50px] xl:rounded-br-[50px] #{!important};

        .nav_navbar {
            @apply p-4 
            md:flex md:items-center md:justify-end md:py-6 #{!important};

            .nav_icon {
                @apply w-12 h-12 rounded-full fixed top-7 left-7 text-2xl flex justify-center items-center 
                cursor-pointer bg-primary text-white z-[9999] duration-300 ease-in-out
                md:hidden #{!important};
            }
            .nav_ul {
                display: none;
                @apply absolute transition-all duration-500 ease-in bg-transparent z-[-1] w-full left-0 pl-9
                pt-10 md:p-0 md:flex md:items-center md:pb-0 md:static md:z-auto md:w-auto md:pl-0 #{!important};

                .nav_li {
                    @apply text-3xl md:text-base uppercase list-none my-7
                    md:ml-8 md:my-0 #{!important};

                    .nav_link {
                        color: white;
                        @apply no-underline #{!important};
                    }
                }
            }
        }
    }
}