@import "tailwindcss/components";

@layer components {
    .nav_section {
        @apply w-full fixed top-0 z-[99999] container px-12 max-w-7xl
        md:right-1/2 md:translate-x-[50%] md:shadow-2xl
        xl:rounded-bl-[50px] xl:rounded-br-[50px];

        .nav_navbar {
            @apply p-4
            md:flex md:items-center md:justify-end md:py-6;

            .nav_icon {
                @apply text-4xl text-white absolute right-8 top-6 cursor-pointer flex justify-center items-center
                md:hidden;
            }
            .nav_ul {
                @apply absolute transition-all duration-500 ease-in opacity-0 bg-transparent z-[-1] w-full left-0 pl-9
                md:flex md:items-center md:pb-0 md:static md:z-auto md:w-auto md:pl-0 md:opacity-100 ;

                .nav_li {
                    @apply text-base uppercase list-none my-7
                    md:ml-8 md:my-0;

                    .nav_link {
                        @apply text-white no-underline;
                    }
                }
            }
        }
    }
}