@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
    .jumbotron {
        @apply min-h-screen 
        bg-[url('../../../assets/bg.jpg')] bg-cover  bg-no-repeat bg-fixed bg-top #{!important};

        *{
            @apply flex justify-center items-center p-2 text-white text-center #{!important};
        }
        
        .ui_container {
            @apply h-screen #{!important};

            .ui_row {
                @apply flex-col z-50 #{!important};
            }
        }
    }

    .avatar {
        @apply w-44 p-[5px] rounded-full 
        border-white border-solid border-[5px]
        hover:border-secondary #{!important};
    }
    
    .name {
        @apply text-secondary font-bold text-[48px] leading-tight #{!important};
    }

    .title {
        @apply text-base mt-[-30px] #{!important};
    }

    .particelle {
        @apply p-0 absolute h-screen min-w-full #{!important};
    }

    .socials {
        .link{
            @apply p-0 text-xl mx-3 mt-5 #{!important};

            &:hover path{
                @apply hover:text-secondary #{!important};
            }
        }
    }

    .scroll_arrow{
        animation: up-down 2s forwards ease-in-out infinite;
        @apply absolute bottom-8 text-5xl #{!important};
    }
    
    @keyframes up-down {
        0% {
            transform: translateY(-50px)scale(1);
            opacity: 1;
            }
            
        100% {
            transform: translateY(0px)scale(1.2);
            opacity: 0.0
            
        }
    }
}