@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
    .jumbotron {
        @apply min-h-screen 
        bg-[url('../../../assets/bg.jpg')] bg-cover  bg-no-repeat bg-fixed bg-top;

        *{
            @apply flex justify-center items-center text-white text-center;
            padding: 8px!important;
        }
        
        .ui_container {
            @apply h-screen;

            .ui_row {
                @apply flex-col z-50;
            }
        }
    }

    .avatar {
        padding: 5px !important;
        @apply w-44 rounded-full 
        border-white border-solid border-[5px]
        hover:border-secondary;

    }
    
    .name {
        @apply text-secondary font-bold text-[48px] leading-tight;
    }

    .particelle {
        padding: 0 !important;
        @apply absolute h-screen min-w-full;
    }

    .socials {
        *{padding: 0!important;}
        .link{
            @apply mx-3;

            &:hover path{
                @apply hover:text-secondary;
            }
        }
    }

    .scroll_arrow{
        @apply absolute bottom-8 text-5xl;
        animation: up-down 2s forwards ease-in-out infinite;
    }
    
    @keyframes up-down {
        0% {
            transform: translateY(-50px)scale(1);
            opacity: 1;
            }
            
        100% {
            transform: translateY(0px)scale(1.2);
            opacity: 0.0
            
        }
    }
}