.career_icon {
    @apply
        w-10
        h-10
        p-4
        mb-4
        border 
        border-solid 
        rounded-full 
        hover:translate-y-[-20px]
        duration-500
        cursor-pointer

        border-white 
        text-white
        hover:bg-secondary
        hover:border-primary
        ;
}
